<roleFilter>
  <id>7f4897d6:1932bdd26b1:-7fe6</id>
  <name>roleFilter</name>
  <className>org.geoserver.security.filter.GeoServerRoleFilter</className>
  <httpResponseHeaderAttrForIncludedRoles>roles</httpResponseHeaderAttrForIncludedRoles>
  <roleConverterName>roleConverter</roleConverterName>
</roleFilter>